@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Staff/Views/Shared/LayoutGiaovu.cshtml";

}
<style>
</style>
<br />
<br>
<div class="container" style="padding:8em">
    <div class="">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="~/Staff/Giaovu/ListCourse">
                    <img src="~/images/schedule.png" alt="SCHEDULE" width="140px" height="140px" style="">

                    <div class="caption">
                        <h3 style="padding-left:80px">Schedule</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="~/Staff/Giaovu/Statistical"
                <img src="~/images/statistical.png" alt="STATISTICAL" width="140px" height="140px" style="">

                <div class="caption">
                    <h3 style="padding-left:80px">Statistical</h3>
                </div>
            </div>
        </div>
    </div>
</div>