@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Staff/Views/Shared/LayoutGiaovu.cshtml";

}
<style>
</style>
<br />
<br>
<div class="container" style="padding:5em">
    <div class="">
        <div class="">
            <div class="thumbnail">
                <a href="~/Staff/Giaovu/ListCourse">
                    <img src="~/images/schedule.png" alt="SCHEDULE" width="140px" height="140px" style="">

                    <div class="caption">
                        <h3 style="text-align:center">Schedules</h3>
                    </div>
                </a>
            </div>
            <div class="thumbnail">
                <a href="~/Staff/Giaovu/Statistical">
                    <img src="~/images/statistical.png" alt="SCHEDULE" width="140px" height="140px" style="">

                    <div class="caption">
                        <h3 style="text-align:center">Statisticals</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>