
@{
    ViewBag.Title = "Report";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutAdmin.cshtml";
}


    <H2>Danh sách điểm danh môn Quản trị doanh nghiệp</H2>
    <link rel="stylesheet" type="text/css" href="layout.css">
    <style type="text/css">
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;


        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

   
        }

        table {
            border-collapse: collapse;
        }

        table, th, td {
         
            left: 50%;
            top: 50%;
            padding: 7px;
            margin-top: 30px;
            margin-left: 50px;
        }
        #first {color:cornflowerblue}
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>

    
<div id = "index" >
    <table>
        <tr id="first">
            <th>Stt</th>
            <th>Họ và tên</th>
            <th>MSSV</th>
            <th>Lớp</th>
            <th>Ngày sinh</th>
            <th>Ngày 18/4/2018</th>
           
        </tr>
        <tr>
            <td>1</td>
            <td>Nguyễn Thị Minh Thư</td>
            <td>T150102</td>
            <td>K21T1</td>
            <td>15/12/1996</td>
            <td><center></center></td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>Nguyễn Thị Minh Thư</td>
            <td>T150102</td>
            <td>K21T1</td>
            <td>15/12/1996</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Nguyễn Thị Minh Thư</td>
            <td>T150102</td>
            <td>K21T1</td>
            <td>15/12/1996</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Nguyễn Thị Minh Thư</td>
            <td>T150102</td>
            <td>K21T1</td>
            <td>15/12/1996</td>
            <td></td>
        </tr>

    </table>
 </div>
