
@{
    ViewBag.Title = "CheckOnline";
    Layout = "~/Areas/Staff/Views/Shared/_layoutAdmin.cshtml";
}

<div class="container-fluid">
    <!-- Viết nội dung vào đây -->
    <div class="row">
        <div class="col-md-12">
            <h3>K21T1 - ComputerScient - 05/17/2018</h3>
        </div>
        <div class="col-md-12 first">
            <h1>Danh sách điểm danh sinh viên</h1>
        </div>
        <div class="col-md-offset-2 col-md-8">
            <table id="table" class="table ">
                <tr class="trth">
                    <th>STT</th>
                    <th>MSSV</th>
                    <th>Lớp</th>
                    <th>Họ và Tên</th>
                    <th>Trạng thái</th>
                    <th>Ghi chú</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>T150737</td>
                    <td>K21T1</td>
                    <td>La Văn Hớn</td>
                    <td>
                        <select id="sec">
                            <option value="1">Có học</option>
                            <option value="0">Vắng</option>
                            <option value="0.5">Trễ</option>
                            <option value="2">Có phép</option>
                        </select>
                    </td>
                    <td>Lười học</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>T150737</td>
                    <td>K21T1</td>
                    <td>La Văn Hớn</td>
                    <td>
                        <select id="sec">
                            <option value="1">Có học</option>
                            <option value="0">Vắng</option>
                            <option value="0.5">Trễ</option>
                            <option value="2">Có phép</option>
                        </select>
                    </td>
                    <td>Lười học</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>T150737</td>
                    <td>K21T1</td>
                    <td>La Văn Hớn</td>
                    <td>
                        <select id="sec">
                            <option value="1">Có học</option>
                            <option value="0">Vắng</option>
                            <option value="0.5">Trễ</option>
                            <option value="2">Có phép</option>
                        </select>
                    </td>
                    <td>Lười học</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>T150737</td>
                    <td>K21T1</td>
                    <td>La Văn Hớn</td>
                    <td>
                        <select id="sec">
                            <option value="1">Có học</option>
                            <option value="0">Vắng</option>
                            <option value="0.5">Trễ</option>
                            <option value="2">Có phép</option>
                        </select>
                    </td>
                    <td>Lười học</td>
                </tr>
          
            </table>
            <ul ><button style="margin-left:230px" type="Lưu" class="btn btn-default">Download File</button></ul>
        </div>
    </div>
</div>

