@using Sep2018_MVC.Models
@model List<Course>
@{
    ViewBag.Title = "CreateSection";
    Layout = "~/Areas/Staff/Views/Shared/_layoutAdmin.cshtml";

}


<div class="container-fluid">
    <!-- Viết nội dung vào đây -->
    <div class="row">
        <div class="col-md-12 section_first">
            <h1>Tạo phiên điểm danh</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 section_second">
                    <div class="col-md-12">
                        <form action="/Staff/Teacher/CheckOnline" method="post">
                            <input id="id_session" type="hidden" value="@Session["id_user"]" />
                            <div class="form-group col-md-12">
                                <label class="control-label col-sm-3">Khoá:</label>
                                <div class="col-sm-9">
                                    <select required="required" id="txt_course" name="txt_course" class="form-control">
                                        @foreach (var item in Model)
                                        {
                                            <option id="@item.id" value="@item.id">@item.CourseName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-sm-3">Học kì:</label>
                                <div class="col-sm-9">
                                    <select required="required" id="txt_semester" name="txt_semester" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-sm-3">Lớp:</label>
                                <div class="col-sm-9">
                                    <select required="required" id="txt_class" name="txt_class" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-sm-3" for="pwd">Môn học:</label>
                                <div class="col-sm-9">
                                    <select required="required" id="txt_subject" name="txt_subject" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-sm-3">Ngày:</label>
                                <div class="col-sm-9">
                                    <input required="required" class="form-control" type="date" name="txt_day">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-sm-3">Thời gian:</label>
                                <div class="col-sm-4">
                                    <input required="required" class="form-control" type="time" name="txt_timefrom">
                                </div>
                                <span class=" col-sm-1"><i class="fas fa-long-arrow-alt-right "></i></span>
                                <div class="col-sm-4">
                                    <input required="required" class="form-control" type="time" name="txt_timeto">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-sm-3">Số tiết:</label>
                                <div class="col-sm-4">
                                    <input required="required" class="form-control" type="number"  name="txt_lesson" />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-sm-3">Thời khoá biểu:</label>
                                <div class="col-sm-9">
                                    <select required="required" class="form-control" id="txt_scheduledetail" name="txt_scheduledetail"></select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <button type="submit" class="btn btn-default">Tạo</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var txt_scheduledetail = document.getElementById("txt_scheduledetail");
    var txt_class = document.getElementById('txt_class');
    var txt_semester = document.getElementById('txt_semester');
    var txt_course = document.getElementById('txt_course');
    var txt_subject = document.getElementById('txt_subject');
    var url = window.location.origin;//get url to local
    txt_course.addEventListener("change", crawSemester);
    function crawSemester() {
        var id = $(this).children(":selected").attr("id");
        var sub_semester = txt_semester.getElementsByTagName("option");
        var arr = Array.from(sub_semester);
        if (arr.length > 0) {
            arr.forEach((item, index) => {
                txt_semester.removeChild(item);
            });
        }
        /*Clear Class*/
        var sub_Class = txt_class.getElementsByTagName("option");
        var arr = Array.from(sub_Class);
        if (arr.length > 0) {
            arr.forEach((item, index) => {
                txt_class.removeChild(item);
            });
        }
        /*Clear Subject*/
        var sub_subject = txt_subject.getElementsByTagName("option");
        var arr = Array.from(sub_subject);
        if (arr.length > 0) {
            arr.forEach((item, index) => {
                txt_subject.removeChild(item);
            });
        }
        /*Clear Schedule*/
        var sub_scheDetail = txt_scheduledetail.getElementsByTagName("option");
        var arr = Array.from(sub_scheDetail);
        if (arr.length > 0) {
            arr.forEach((item, index) => {
                txt_scheduledetail.removeChild(item);
            });
        }
        $.ajax({
            type: 'GET',
            url: url + "/Staff/Teacher/SemesterMeo/" + id,
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    //console.log(value);
                    var p = document.createElement('option');
                    p.innerText = value.semesName;
                    p.setAttribute("id", value.id_semes);
                    p.setAttribute("value", value.id_semes);
                    txt_semester.appendChild(p);
                })
            }
        });

    }
    txt_semester.addEventListener("change", crawClass);
    txt_semester.addEventListener("click", crawClass);
    function crawClass() {
        var id = $(this).children(":selected").attr("id");
        //console.log(id);
        var sub_class = txt_class.getElementsByTagName("option");
        var id_course = txt_course.options[txt_course.selectedIndex].id;//get ID
        //console.log(id_course); 
        /*Clear Classs */
        var arr = Array.from(sub_class);
        if (arr.length > 0) {
            arr.forEach((item, index) => {
                //console.log(item);
                txt_class.removeChild(item);
            });
        }
        /**Clear Subject */
        var sub_subject = txt_subject.getElementsByTagName("option");
        var arr = Array.from(sub_subject);
        if (arr.length > 0) {
            arr.forEach((item, index) => {
                txt_subject.removeChild(item);
            });
        }
        /*Clear Schedule*/
        var sub_scheDetail = txt_scheduledetail.getElementsByTagName("option");
        var arr = Array.from(sub_scheDetail);
        if (arr.length > 0) {
            arr.forEach((item, index) => {
                txt_scheduledetail.removeChild(item);
            });
        }
        $.ajax({
            type: 'GET',
            url: url + "/Staff/Teacher/ClassMeo/?id=" + id + "&&id_course=" + id_course,
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    //console.log(value);
                    var p = document.createElement('option');
                    p.innerText = value.classname;
                    p.setAttribute("id", value.id_class);
                    p.setAttribute("value", value.id_class);
                    txt_class.appendChild(p);
                })
            }
        });
    }
    txt_class.addEventListener("change", crawSubject);

    function crawSubject() {
        let id = $(this).children(":selected").attr("id");
        let id_course = txt_course.options[txt_course.selectedIndex].id;//get ID
        //console.log(id_semester);
        let sub_subject = txt_subject.getElementsByTagName("option");
        let arr = Array.from(sub_subject);
        if (arr.length > 0) {
            arr.forEach((item, index) => {
                txt_subject.removeChild(item);
            });
        }

        $.ajax({
            type: 'GET', 
            url: url + "/Staff/Teacher/Subject/?id_Class=" + id + "&&id_course=" + id_course,
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    var p = document.createElement('option');
                    p.innerText = value.subName;
                    p.setAttribute("id", value.id_subject);
                    p.setAttribute("value", value.id_subject);
                    txt_subject.appendChild(p);
                })
            }
        });
    }
    //txt_subject.addEventListener("click", crawScheSub);
    txt_subject.addEventListener("change", crawScheSub);
    txt_subject.addEventListener("click", crawScheSub);
    /*Craw Schedule*/
    function crawScheSub() {
        let id_subject = $(this).children(":selected").attr("id");//Get Value Select choose
        let id_semester = txt_semester.options[txt_semester.selectedIndex].id;//get ID
        let id_course = txt_course.options[txt_course.selectedIndex].id;//get ID
        let id_class = txt_class.options[txt_class.selectedIndex].id;
        let sessionName = document.getElementById('id_session').value;
        var sub_scheDetail = txt_scheduledetail.getElementsByTagName("option");
        var arr = Array.from(sub_scheDetail);
        if (arr.length > 0) {
            arr.forEach((item, index) => {
                txt_scheduledetail.removeChild(item);
            });
        }
        $.ajax({
            type: 'GET',
            url: url + "/Staff/Teacher/ScheDetail/?id_subject=" + id_subject + "&&id_course=" + id_course + "&&id_semester=" + id_semester + "&&id_class=" + id_class + "&&sessionLove=" + sessionName,
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    var p = document.createElement('option');
                    p.innerHTML =value.SubjectName + " " + value.BeginTime.Hours + ":" + value.BeginTime.Minutes + " --> " + value.EndTime.Hours + ":" + value.EndTime.Minutes;
                    p.setAttribute("id", value.id);
                    p.setAttribute("value", value.id);
                    txt_scheduledetail.appendChild(p);
                })
            }
        });
    }
</script>