
@{
    ViewBag.Title = "History";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <h1> History </h1>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Subject</th>
                        <th>Course</th>
                        <th>Class</th>
                        <th>Date</th>
                        <th>Begin Time</th>
                        <th>End Time</th>
                        <th>Lesson</th>
                        <th>Unit Lession</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>Software Testing</th>
                        <th>21</th>
                        <th>K21T1</th>
                        <th>17/05/2018</th>
                        <th>13:00</th>
                        <th>15:00</th>
                        <th>2</th>
                        <th>Tiết</th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

