
@{
    ViewBag.Title = "Notifi";
    Layout = "~/Areas/Staff/Views/Shared/_layoutAdmin.cshtml";
}

<div class="container-fluid">
    <!-- Viết nội dung vào đây -->
    <div class="row">
        <div class="col-md-12 section_first">
            <h1>Thông báo trạng thái</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 noti_first">
                    <div class="col-md-12 ">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img style="width: 50px;height: 50px;" class="img-circle" src="/images/bannerleft.jpg">
                        </div>
                        <div class="col-md-11">
                            <p><strong>Caculus 1</strong> Hôm nay bạn có tiết lên lớp. Nhớ điểm danh nhé...!</p>
                            <p><img src="/images/notification.png">&ensp;<span>Khoảng 36 phút trước</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

