@using Sep2018_MVC.Models
@model List<Course>
@{
    ViewBag.Title = "ReviewAttendace";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutAdmin.cshtml";
    var ScheDetail = TempData["listSchDetail"] as List<ScheduleDetail>;
}

<h2>ReviewAttendace</h2>


<div class="container">
    <div class="row">
        @foreach (var item in Model.OrderBy(s=>s.CourseName))
        {
            <ul>@item.CourseName
                @foreach (var iclass in ScheDetail)
                    {
                        
                    }
            </ul>
        }
    </div>
</div>