
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div class="container">
    <h1>Schedule</h1>
    <p>Thời khóa biểu của tất cả các khóa.</p>

    <h1>Khóa 20</h1>
    <div class="embed-responsive embed-responsive-4by3">
        <img src="~/Areas/Staff/Assert/Images/img/Schedule/K20.PNG" style="width:100%">      
    </div>

    <h1>Khóa 21</h1>
    <div class="embed-responsive embed-responsive-4by3">
        <img src="~/Areas/Staff/Assert/Images/img/Schedule/K21.PNG" style="width:100%">
    </div>

    <h1>Khóa 22</h1>
    <div class="embed-responsive embed-responsive-4by3">
        <img src="~/Areas/Staff/Assert/Images/img/Schedule/K22.PNG" style="width:100%">
    </div>

    <h1>Khóa 23</h1>
    <div class="embed-responsive embed-responsive-4by3">
        <img src="~/Areas/Staff/Assert/Images/img/Schedule/K23.PNG" style="width:100%">
    </div>
</div>