@using Sep2018_MVC;
@{

}
<div class="panel panel-primary">
    <div class="panel panel-info" style="padding: 5% 15% 10% 35%">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="~/Giangvien/listlop" class="thumbnail">
                    <img src="..." alt="">
                    <h1><span class="label label-success">Online</span></h1>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="~/Giangvien/offline" class="thumbnail">
                    <img src="..." alt="">
                    <h1><span class="label label-default">Import File</span></h1>
                </a>
            </div>
        </div>
        @Html.ActionLink("Trở về","Index")
    </div>
</div>


