@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Import / Export database data from/to XML.</h3>
<div>
    <form class="upfile" role="upfile" action="@Url.Action("Contact","Home")" method="post">
        <table>
            <tr>
                <td>Select File : </td>
                <td>
                    <input id="File1" type="file" />
                </td>
                <td>
                    <button type="submit" class="btn btn-default">Submit</button>
                </td>
            </tr>
        </table>
        </br>
        <div>
            
           
        </div>
    </form>
</div>

