
@{
    ViewBag.Title = "DetailMonHoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    @*<link rel="stylesheet" type="text/css" href="css/main.css">*@
   
</head>
<body>
    <link href="~/Style/main.css" rel="stylesheet" />  
    <div class="container-fluid">
         
        <div >
            <ul>
                <td><label style="width:40px">MSSV</label></td>
                <td><input type="text"></td>
                <td><button type="Lưu" class="btn btn-default">Search</button></td>
            </ul>
        </div>
        <div class="a">
            <h2 class="b">Danh sách môn học</h2>
            <ul class="ab">
                <li><a href="#">Môn A</a></li>
                <li><a href="#">Môn B</a></li>
                <li><a href="#">Môn C</a></li>
                <li><a href="#">Môn D</a></li>
                <li><a href="#">Môn E</a></li>
                <li><a href="#">Môn F</a></li>
                <li><a href="#">Môn G</a></li>
                <li><a href="#">Môn H</a></li>
            </ul>
        </div>
    </div>
</body>
</html>