@using Sep2018_MVC.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
@{
    ViewBag.Title = "Sep2018 MVC";
    SEP_2018_T6Entities1 db = new SEP_2018_T6Entities1();
}

@if (User.Identity.IsAuthenticated)
{

    if (User.IsInRole("Sinh Vien"))
    {
        <div class="container">
            <h2>Hi @db.People.FirstOrDefault(s => s.MS == User.Identity.Name).Name</h2>
            <h4>Welcome to Attendancen Online</h4>
        </div>
    }
    else
    {
        <div class="container">
            <h1>Hi @db.People.FirstOrDefault(s => s.MS == User.Identity.Name).Name</h1>
            <h2>Nơi đây không phù hợp cho thí chủ.</h2>
            <h2>Thí chủ là giáo viên mà đi đăng nhập sinh viên làm gì...!</h2>
            <h2><a href="~/Staff/Teacher/InformationAccount" class="btn btn-success">Đến trang giáo viên</a></h2>
            <h2><a href="~/Account/Logout" class="btn btn-danger">Đăng Xuất</a></h2>
        </div>
    }

}
else
{
    <div class="container" style="margin:300px 500px;">
        <div class="col-md-12">
            <h1>
                Vui lòng <a href="~/Account/Login" style="color:red">đăng nhập</a> để sử dụng các tính năng
            </h1>
        </div>
    </div>
}