@{
    ViewBag.Title = "Sep2018 MVC";
}

<div class="col-md-12">
    <br /><br /></br>
    <h1 style="padding-left: 30%">Vui lòng <a href="~/Account" style="color:red">đăng nhập</a> để sử dụng các tính năng </h1>
</div>