

<ul class="sidebar-menu" id="nav-accordion">
    <p class="centered">
        <a href="profile.html">
            <img src="~/Areas/Staff/Assert/Images/img/ui-sam.jpg" class="img-circle" width="60" />
        </a>
    </p>
    @*<h5 class="centered">Marcel Newman</h5>*@
    <img src="~/Areas/Staff/Assert/Images/Identity_VI.png" class="img-responsive" />
    <h1> </h1>

    <li class="IA">
        <a class="active" href="/Staff/Teacher/InformationAccount">
            <i class="fa fa-dashboard"></i>
            <span>Information Account</span>
        </a>
    </li>

    <li class="noti">
        <a class="active" href="/Staff/Teacher/Notifi">
            <i class="fa fa-dashboard"></i>
            <span>Notification</span>
        </a>
    </li>

    <li class="tkb">
        <a class="active" href="#">
            <i class="fa fa-dashboard"></i>
            <span>Schedule</span>
        </a>
    </li>

    <li class="history">
        <a class="active" href="/Staff/Teacher/History">
            <i class="fa fa-dashboard"></i>
            <span>History</span>
        </a>
    </li>

    <li class="change">
        <a class="active" href="~/Staff/AccountStaff/ChangePassword">
            <i class="fa fa-dashboard"></i>
            <span>Change password</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-desktop"></i>
            <span>Attendance</span>
        </a>
        <ul class="sub">
            <li>@Html.ActionLink("Course 20", "Course", "Staff")</li>
            <li>@Html.ActionLink("Course 21", "Course", "Staff")</li>
            <li>@Html.ActionLink("Course 22", "Course", "Staff")</li>
            <li>@Html.ActionLink("Course 23", "Course", "Staff")</li>
        </ul>
    </li>


</ul>
