
@{ 
    string ava = Session["ava_user"].ToString();
}
<ul class="sidebar-menu" id="nav-accordion">
    <p class="centered">
        <a href="~/Staff/Teacher/InformationAccount">
            <img src="~/images/Avatar/@ava" class="img-circle" width="100"/>
        </a>
    </p>
    @*<h5 class="centered">Marcel Newman</h5>*@
    <img style="width:50%;margin:auto;" src="~/images/logonew.png" class="img-responsive" />
    <h1> </h1>

    <li class="IA">
        <a class="active" href="/Staff/Teacher/InformationAccount">
            <i class="fa fa-book"></i>
            <span>Information Account</span>
        </a>
    </li>

    <li class="noti">
        <a class="active" href="/Staff/Teacher/Notifi">
            <i class="fa fa-desktop"></i>
            <span>Notification</span>
        </a>
    </li>

    <li class="tkb">
        <a class="active" href="/Staff/Teacher/Schedule">
            <i class="fa fa-th"></i>
            <span>Schedule</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-chart-bar"></i>
            <span>History</span>
        </a>
        <ul class="sub">
            <li>@Html.ActionLink("All Attendance", "History", "Teacher")</li>
            <li>@Html.ActionLink("Attendance Detail", "ReviewAttendace", "Teacher")</li>
        </ul>
    </li>


    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-desktop"></i>
            <span>Attendance</span>
        </a>
        <ul class="sub">
            <li>@Html.ActionLink("Online", "CreateSection", "Teacher")</li>
            <li>@Html.ActionLink("Offline", "vieOffline", "Teacher")</li>
        </ul>
    </li>


</ul>