

<ul class="sidebar-menu" id="nav-accordion">
    <p class="centered">
        <a href="profile.html">
            <img src="~/Areas/Staff/Assert/Images/img/ui-sam.jpg" class="img-circle" width="60" />
        </a>
    </p>
    @*<h5 class="centered">Marcel Newman</h5>*@
    <img src="~/Areas/Staff/Assert/Images/Identity_VI.png" class="img-responsive" />
    <h1> </h1>
    <li class="noti">
        <a class="active" href="#">
            <i class="fa fa-dashboard"></i>
            <span>Notification</span>
        </a>
    </li>

    <li class="tkb">
        <a class="active" href="#">
            <i class="fa fa-dashboard"></i>
            <span>Schedule</span>
        </a>
    </li>

    <li class="forgot">
        <a class="active" href="#">
            <i class="fa fa-dashboard"></i>
            <span>Forgot password</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-desktop"></i>
            <span>Attendance</span>
        </a>
        <ul class="sub">
            <li>@Html.ActionLink("Course 20", "khoa20", "Course")</li>
            <li>@Html.ActionLink("Course 21", "khoa21", "Course")</li>
            <li>@Html.ActionLink("Course 22", "khoa22", "Course")</li>
            <li>@Html.ActionLink("Course 23", "khoa23", "Course")</li>
        </ul>
    </li>


</ul>
