<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>@ViewBag.Title - Giaovu</title>
    @*<title>DASHGUM - FREE Bootstrap Admin Template</title>*@
    <!-- Bootstrap core CSS -->
    <link href="~/Areas/Staff/Assert/Styles/bootstrap.css" rel="stylesheet" />
    <!--external css-->
    <link href="~/Areas/Staff/Assert/Styles/admin.css" rel="stylesheet" />
    <link href="~/Areas/Staff/Assert/Styles/font-awesome.css" rel="stylesheet" />
    <link href="~/Areas/Staff/Assert/Styles/zabuto_calendar.css" rel="stylesheet" />
    <link href="~/Areas/Staff/Assert/Styles/jquery.gritter.css" rel="stylesheet" />
    <link href="~/Areas/Staff/Assert/Styles/styleAdmin.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/Areas/Staff/Assert/Styles/style1.css" rel="stylesheet" />
    <link href="~/Areas/Staff/Assert/Styles/style-responsive.css" rel="stylesheet" />
    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <link media="all" type="text/css" rel="stylesheet" href="https://bootsnipp.com/css/fullscreen.css">
    <script type="text/javascript">
        (function () {
            var bsa = document.createElement('script');
            bsa.type = 'text/javascript';
            bsa.async = true;
            bsa.src = '//s3.buysellads.com/ac/bsa.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(bsa);
        })();
    </script>
    <script src="~/Areas/Staff/Assert/Script/Chart.js"></script>
    <!-- My Minh -->
    <link href="~/Areas/Staff/Assert/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Staff/Assert/Styles/fontawesome-all.min.css" rel="stylesheet" />
</head>
<body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg" style="background-color: black">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="Index" class="logo"><b>Management</b></a>
            <!--logo end-->
            @*<div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo">
                                        <img src="~/Areas/Staff/Assert/Images/img/ui-zac.jpg" />
                                    </span>
                                    <span class="subject">
                                        <span class="from">Zac Snider</span>
                                        <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo">
                                        <img src="~/Areas/Staff/Assert/Images/img/ui-divya.jpg" />
                                    </span>
                                    <span class="subject">
                                        <span class="from">Divya Manian</span>
                                        <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                        Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo">
                                        <img src="~/Areas/Staff/Assert/Images/img/ui-danro.jpg" />
                                    </span>
                                    <span class="subject">
                                        <span class="from">Dan Rogers</span>
                                        <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo">
                                        <img src="~/Areas/Staff/Assert/Images/img/ui-sherman.jpg" />
                                    </span>
                                    <span class="subject">
                                        <span class="from">Dj Sherman</span>
                                        <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>*@
            <div class="top-menu">
                <ul class="nav pull-right top-menu" >
                    <li><a class="logout" href="logout.html" style="background-color:#f2dc87; color:black"><b>Logout</b></a></li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse " style="background-color:black">
                <!-- sidebar menu start-->
                @*@RenderPage("_SiderBarStaff.cshtml")*@
                @RenderPage("SiderBarGiaovu.cshtml")
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
                <div class="row">
                    <div class="col-lg-9 main-chart">
                    </div><!-- /col-lg-3 -->
                </div><! --/row -->
            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <footer class="" style="background-color:black">
            <div class="" style="background-color:black">
                2018 - Đại học Văn Lang
               
            </div>
        </footer>
        <!--footer end-->
    </section>
    <script src="~/Areas/Staff/Assert/Script/jquery.min.js"></script>
    <script src="~/Areas/Staff/Assert/Script/bootstrap.min.js"></script>
    <!-- yourKhai -->
    <script src="~/Areas/Staff/Assert/Script/jquery.js"></script>
    <script src="~/Areas/Staff/Assert/Script/jquery-1.8.3.min.js"></script>
    <script src="~/Areas/Staff/Assert/Script/bootstrap.min.js"></script>
    <script src="~/Areas/Staff/Assert/Script/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Areas/Staff/Assert/Script/jquery.scrollTo.min.js"></script>
    <script src="~/Areas/Staff/Assert/Script/jquery.nicescroll.js"></script>
    <script src="~/Areas/Staff/Assert/Script/jquery.sparkline.js"></script>
    <script src="~/Areas/Staff/Assert/Script/jquery.gritter.js"></script>
    <script src="~/Areas/Staff/Assert/Script/gritter-conf.js"></script>
    <script src="~/Areas/Staff/Assert/Script/common-scripts.js"></script>
    <script src="~/Areas/Staff/Assert/Script/sparkline-chart.js"></script>
</body>
</html>